body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

header, main, footer {
    max-width: 760px;
    margin: 0 auto;
}

header, footer {
    margin: auto;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #cbf1cb;
    text-align: center;
}

header img {
    float: right;
    width: auto;
    height: 200px;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 #6d6d6d;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

@media screen {

}