* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/* body rules go here */
body {
    font-family: 'Montserrat', Verdana, sans-serif;
    font-size: 16px;
}

/* header rules go here */
header, main, footer {
    max-width: 760px;
    margin: 0 auto;
}

header, footer {
    margin: auto;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #cbf1cb;
    text-align: center;
}

header img {
    float: right;
    width: auto;
    height: 200px;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 #6d6d6d;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
} 
/* navigation rules go here */

/* main rules go here */

/* footer rules go here */