@media only screen and (min-width: 560px) {
    body {
        font-size: 1rem;
    }

    body h2 {
        text-align: center;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    
    header, footer {
        border-radius: 0;
    }

    header img {
        height: 150px;
        float: none;
        border-radius: 1rem;
    }

    h1 h2 {
        font-size: medium;
    }
} /*end of media query*/