@media only screen and (min-width: 1028px) {
    header, footer, nav, main {max-width: 75rem; margin: auto;}
    
    nav ul li {flex-basis: auto; padding: 0 2%;}
    

    main figure {width: 31%;}

    div.news {column-count: 3;}


} /*end of media query*/