/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header,
    nav,
    main,
    footer {
        max-width: 64rem;
        margin: 0 auto;
    }
/*----------- BODY ----------------------------------------------------------*/
body {
    font-size: 1.1rem;
}
/*----------- HEADER --------------------------------------------------------*/

/*----------- NAVIGATION ----------------------------------------------------*/

/*----------- MAIN ----------------------------------------------------------*/


main {
    width:70%;
    margin: auto;
}


.weatherWrapper {
    
    font-size: 1rem;
}

.contactWrapper {
    font-size: 1.2rem;
}

.map iframe {
    height: 300px;
}

.city-info {
    justify-self: center;
}

.city-history {
    grid-column: 1;
    grid-row: 2/4;
}

.city-explore {
    grid-column: span 2;
    grid-row: 1;
}
.city-demographics {
    grid-column: 2;
    grid-row: 2;
}

.city-map {
    grid-column: 2;
    grid-row: 3;
}

/*----------- Directory Page Main -------------------------------------------*/
.directoryWrapper {
    grid-template-columns: 1fr 1fr 1fr;
}
/*----------- Contact Us Page Main ------------------------------------------*/
.contactWrapper {
    margin: auto;
}

.contact-form {
    width: 100%;
    margin: auto;
}

.directorboard {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* ----------- FORM -------------------------------------------------------- */
.join-form {
    width:100%;
    justify-self: center;
    
}


/*----------- FOOTER --------------------------------------------------------*/


}

/* end of media query */