/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

/*----------- BODY ----------------------------------------------------------*/
body {
    font-size: 1.1rem;
}
/*----------- HEADER --------------------------------------------------------*/

/*----------- NAVIGATION ----------------------------------------------------*/

/*----------- MAIN ----------------------------------------------------------*/
.herodiv {
    width: 70%
}

.article {
    width: 70%;
}

.advertWrapper {
    width: 70%;
}

.weatherWrapper {
    width: 70%;
    font-size: 1rem;
}

.contactWrapper {
    font-size: 1.2rem;
}

.map iframe {
    height: 300px;
}

.city-info {
    width: 70%;
    justify-self: center;
}

.city-history {
    grid-column: 1;
    grid-row: 2,3;
}

.city-explore {
    grid-column: span 2;
    grid-row: 1;
}
.city-demographics {
    grid-column: 2;
    grid-row: 2;
}

.city-map {
    grid-column: 2;
    grid-row: 3;
}

/* ----------- FORM -------------------------------------------------------- */
.join-form {
    justify-self: center;
    width: 70%;
}


/*----------- FOOTER --------------------------------------------------------*/


}

/* end of media query */