/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 43rem) {

/*----------- BODY ----------------------------------------------------------*/

/*----------- HEADER --------------------------------------------------------*/

/*----------- NAVIGATION ----------------------------------------------------*/

/*----------- MAIN ----------------------------------------------------------*/

.herodiv {
    width: 70%;
}
.article {
    display: inline-block;
}

.article img {
    float: right;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}

/* ----------- FORM -------------------------------------------------------- */

/*----------- FOOTER --------------------------------------------------------*/


}

/* end of media query */