/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- Slideshow Container --------------------------------------------*/

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    box-shadow: 0 0 30px grey;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #edf6f9;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: black;
    background-color: #edf6f9;
    font-size: 1rem;
    padding: 4px 12px;
    position: absolute;
    bottom: -12px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    background-color: #edf6f9;
    border-radius: 2rem;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*----------- BODY ----------------------------------------------------------*/

body {
  font-size: 1rem;
  font-family: 'Monsterrat', Verdana, sans-serif ;
  background-color: #edf6f9;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

/* 
Colors:
Navigation Active: #006d77
Header, Footer, Nav: #83c5be
#edf6f9
#ffddd2
#e29578 
*/

/*----------- HEADER --------------------------------------------------------*/

#headerWrapper {
  background-color: #83c5be;
}

header {
  padding: .5rem 2%;
  background-color: #83c5be;
  display: flex;
  align-items: center;
  justify-content: start;
}

header img {
  margin-right: 10px;
  width: 50px;
}

div.headings {
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
  font-size: 1.3rem;
}

header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

/*----------- NAVIGATION ----------------------------------------------------*/

div#navWrapper {
  background-color: #83c5be;
}

nav {
  background-color: #83c5be;
}

nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: black;
}

nav ul.hide {
  display: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  color: black;
  padding: .8rem 2%;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #edf6f9;
}

nav ul li a:hover {
  background-color: #006d77;
  color: white;
}

nav ul li.active a {
  background-color: #edf6f9;
  color: black;
  border: none;
}

/*----------- MAIN ----------------------------------------------------------*/

main {
  padding: 0 2%;
  min-height: 10rem;
  display: grid;
}

div.showme {
  display: block;
}

div.hideme {
  display: none;
}

.herodiv {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: auto;
  /* border: 1px dashed red; */
}

.herodiv img {
  width: 100%;
}

.article {
  margin: 1rem auto;
  border: 1px solid #e29578;
  background-color: #ffddd2;
  padding: 1rem;
  border-radius: 1rem;
}

.article img {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding: 1rem 0;
}

.eventWrapper {
  width: 100%;
  border: 1px solid #e29578;
  background-color: #ffddd2;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
  box-shadow: 0 0 30px grey;
  border-radius: 2rem;
}

.advertWrapper {
  margin: 1rem auto;
  width: 100%;
}

.advert {
  margin: 1rem auto;
  padding: .5rem;
  border: 1px solid black;
  text-align: center;
}

.advert img {
  width: 100%;
  padding: 10px;
}

.calltojoin {
  width:100%;
  margin: 1rem auto;
  text-align: center;
}

#calltojoin {
  width: 300px;
  height: 50px;
  background-color: #006d77;
  color: white;
  border-radius: 2rem;
  font-size: 2rem;
}

.weatherWrapper {
  width:100%;
  margin: 1rem auto;
}

.weatherWrapper div {
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
  text-align: center;
  background-color: #83c5be;
  box-shadow: 0 0 30px grey;
  border-radius: 2rem;
}

.currentWeather {
  width: 100%;
  border: 1px solid #e29578;
  background-color: #ffddd2;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
  box-shadow: 0 0 30px grey;
  border-radius: 2rem;
}

.contactWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10px;
  margin: .5rem 0;
  padding: 1rem 2%;
  font-size: .8rem;
}

.physical {
  margin-left: 1rem;
  grid-column: 1;
  justify-self: stretch;
}

.electronic {
  margin-left: 1rem;
  grid-column: 2;
  justify-self: stretch;
}

.social {
  display: flex;
}

.social a {
  padding: 0 5px
}

.map {
  width: 100%;
  grid-column: span 2;
  text-align: center;
}

.map iframe {
  margin-top: 10px;
  width: 100%;
  height: 200px;
}

/*----------- City Page Main ------------------------------------------------*/

.city-info {
  width: 100%;
}

.city-map img {
  width: 100%;
}

/*----------- Directory Page Main -------------------------------------------*/

.directoryWrapper {
  width: 100%;
  text-align: center;
  margin:auto;
  display: grid;
  grid-template-rows: repeat(9, auto);
}

.directoryWrapper div {
  margin: 1rem auto;
}

.directoryWrapper div a{
  color:black;
}

.directoryWrapper div a:hover{
  color:blue;
}

.directoryWrapper div img {
  margin: 1rem auto;
  width:100%;
}
/*----------- Contact Us Page Main ------------------------------------------*/
.directorboard {
  width:100%;
  text-align: center;
  margin: auto;
  display: grid;
  grid-gap: 10px;
}

.BoD {
  margin: 1rem auto;
  background-color: #83c5be;
  padding: 0 1rem 1rem 1rem;
}

.BoD img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 30px #333;
}

/*----------- The Modal (background) ----------------------------------------*/

.alert-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* ----------- FORM -------------------------------------------------------- */
form fieldset {
  width: 100%;
  margin: 2rem 0;
  border: 2px solid #e29578;
  border-radius: 10px;
  padding: .5rem 2%;
  background-color: #ffddd2;
}

form legend {
  color: black;
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

form label.top,
form div, 
form label.radio {
  display: block;
  padding-top: 1rem;
  color: black;
  font-size: 1rem;
}

form label.top input,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #e29578;
  padding: .75rem;
  color: #333;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.15);
}

form label.sbs {
  display: block;
  padding: 0.75rem;
  color: #333;
}

.flexly {
  display: flex;
  align-items: center;
  padding: .75rem;
  margin: 0 0 2rem 2%;
}

form textarea {
  width: 75%;
}

form input.submit8tn {
  border: 2px solid #e29578;
  background-color: #ffddd2;
  color: black;
  font-weight: bold;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

form .perks {
  font-size: 1rem;

}

/*----------- FOOTER --------------------------------------------------------*/

#footerWrapper {
  background-color: #83c5be;
}

footer {
  background-color: #83c5be;
  padding: .5rem 2%;
  text-align: center;
}

/*----------- Clearfix: Force an Element not to collapse --------------------*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}